# PostgreSQL Configuration
POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=sql123
POSTGRES_DB=aurafy
POSTGRES_PORT=5432

# FastAPI Configuration
PROJECT_NAME=Aurafy
SECRET_KEY=supersecretjwtkeyforaurafyphase1and2localdevelopmentonly
ACCESS_TOKEN_EXPIRE_MINUTES=11520
